<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWS.Extensions" version="1.5.26.1" targetFramework="net40" />
  <package id="AWS.SessionProvider" version="3.3.0" targetFramework="net40" />
  <package id="AWSSDK.Core" version="3.3.21.8" targetFramework="net40" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.5" targetFramework="net40" />
  <package id="AWSSDK.S3" version="3.3.16.2" targetFramework="net40" />
</packages>